name: Ruby

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  RUBY_VERSION: "3.2"
  GEM_NAME: octopolo

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run tests
      run: bundle exec rspec

  deploy:
    name: Build + Publish
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    if: github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}

    - name: Publish package to GPR
      run: |
        set -eo pipefail

        # Publish gem only when lib/$GEM_NAME/version.rb changed
        if git show -m --pretty=format:%H --name-only $GITHUB_SHA | \
            grep -q "lib/$GEM_NAME/version.rb"; then

            rm -rf *.gem
            mkdir -p $HOME/.gem
            touch $HOME/.gem/credentials
            chmod 0600 $HOME/.gem/credentials
            printf -- "---\n:github: Bearer ${GITHUB_TOKEN}\n" > $HOME/.gem/credentials

            gem build $GEM_NAME.gemspec
            package=$(echo *.gem)

            echo "Publishing $package to github..."
            gem push --KEY github --host https://rubygems.pkg.github.com/sportngin $package
        fi
